:root {

    --font-primary: "Inter", sans-serif;
    --font-size-primary: 16px;
    --font-weight-primary: 400;

    --font-color-dark: #2d3440;
    --font-color-light: #565c66;

    --margin-bottom-ext: 80px;
    --margin-bottom-inn: 56px;

}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(fonts/Inter/Inter-400.woff2) format("woff2"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(fonts/Inter/Inter-700.woff2) format("woff2"); 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: url(fonts/Inter/Inter-900.woff2) format("woff2"); 
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--font-color-dark);
}

button {
    cursor: pointer;
}


h3, h4, p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 1170px;
    min-height: 100vh;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
    color: var(--font-color-light);
    font-size: var(--font-size-primary);
    background-color: #feafc3;
  }

.content-container {
    width: 1170px;
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto;

}

.header-container {
      display: flex;
      padding-top: 24px;
      background-color: var(--main-bg-color-first);
      color: var(--font-color-dark);
      line-height: 20px;
}


.header-logo {
    display: block;
}

.header-logo:focus-visible {
    background-color: #ffcbd8;
    outline: none;
}

.header-navigation {
    display: flex;
    width: 1030px;
    align-items: center;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}

.nav-right {
    justify-content: end;
    row-gap: 10px;
}

.navigation-user-wrapper {
    display: flex;
}

.header-navigation-list {
    display: flex;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;

    padding-inline-start: 0;
    list-style-type: none;
}

.catalog-li {
    position: relative;
}



.catalog-link:hover ~ .dropdown-catalog {
    display: block;
}

.catalog-link:focus-visible ~ .dropdown-catalog {
    display: block;
}

.dropdown-catalog {
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: #fcfcfc;
    filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.drpdwn-catalog-link {
      display: block;
      padding: 8px 16px;

      font-size: 14px;
}

.drpdwn-catalog-link:hover {
      background-color: #ffcbd8;
}

.drpdwn-catalog-link:focus-visible {
    background-color: #ffcbd8;
    outline: 2px solid #2d3440;
}

.drpdwn-catalog-link:active {
      background-color: #ff7799;
}

.new-product-link {
      position: relative;
      font-weight: 700;
      padding: 12px 16px;
      
}

.new-product-link::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 1px;
      width: 106px;
      height: 1px;
      background-color: #b9b9b9;
}

.navigation-link {
      display: block;
      padding: 8px 16px;
      border-radius: 26px;
}

.navigation-link:hover, .navigation-user-link:hover {
      background-color: rgba(252, 252, 252, 0.5);
      
}

.navigation-link:focus-visible, .navigation-user-link:focus-visible {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2d3440;
}

.navigation-link:active, .navigation-user-link:active {
    background-color: #fcfcfc;
}

.header-phone {
    font-weight: 700;
    align-self: center;
    margin-right: 18px;
    white-space: nowrap;
}

.header-phone:focus-visible {
    outline: none;
    color: #fcfcfc;
}

.navigation-user-list {
    display: flex;
    padding-top: 2px;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.navigation-user-list li {
    position: relative;
}

.navigation-user-link {
    display: flex;
    white-space: nowrap;
    background-color: rgba(252, 252, 252, 0.3);

    font-size: 14px;
}

.search-link {
    border-radius: 50%;
}

.search-link::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(img/header/search-ic.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.search-popup {
    display: none;
    position: absolute;
    z-index: 1;
    top: 45px;
    right: 1%;
    width: 356px;
    padding: 24px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fcfcfc;
}

.header-search-input {
    display: block;
    width: 324px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    font-size: 16px;
    color: #b9b9b9;
}

.header-search-input:not(:placeholder-shown) {
    color: var(--font-color-dark);
}

.header-search-input:hover, .header-search-input:focus-visible, .header-search-input:active {
    outline: none;
}


.header-search-input::-webkit-search-cancel-button {
  

    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    padding-right: 8px;
    background-image: url(img/header/search-clear-btn.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}


.header-search-input::-webkit-search-cancel-button:hover {
  

    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    padding-right: 8px;
    background-image: url(img/header/search-clear-btn-hover.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}



.login-link, .basket-link, .basket-full {
    padding: 6px 16px;
    border-radius: 26px;
    align-items: center;
}

.login-link {
    margin-left: 16px;
    margin-right: 16px;
}

.login-link::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 9px;
    background-image: url(img/header/login-ic.svg);
    background-repeat: no-repeat;
}

.basket-link::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background-image: url(img/header/basket-ic.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.empty-basket-popup {
    display: none;
}

.basket-link:hover ~ .empty-basket-popup {
    display: block;
    position: absolute;
    width: 290px;
    box-sizing: border-box;
    top: 45px;
    right: 1%;
    padding: 48px;
    background-color: #fcfcfc;
    border-radius: 4px;
    text-align: center;

    color: var(--font-color-dark);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.basket-full::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background-image: url(img/header/basket-full.svg);
    background-repeat: no-repeat;
}

.login-popup {
    position: absolute;
    display: none;
    top: 40px;
    right: 14%;
    z-index: 1;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fcfcfc;
}

.login-popup-title {
    color: var(--font-color-dark);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 32px;
}

.header-password-input {
    width: 325px;
}

.header-password-input {
    width: 325px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.login-btn-link-wrapper {
    display: flex;
    align-items: flex-end;
}

.header-help-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 20px;

}

.login-inside-link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
}


/*main*/

main {
    flex-grow: 1;
}

.slider-item {
    display: none;
}

#slider-item-btn1:checked ~ .slider-container .slider-item1,
#slider-item-btn2:checked ~ .slider-container .slider-item2,
#slider-item-btn3:checked ~ .slider-container .slider-item3 {
    
    display: grid;
    grid-template-columns: 540px 350px 280px;
    
    padding-top: 40px;
    margin-bottom: var(--margin-bottom-ext);
    
}


.slider-item-order {
    color: var(--font-color-dark);
    padding-left: 70px;
}

.slider-item-name {
    margin: 0;
    padding-top: 135px;

    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    
}

.slider-item-dscrpt {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 22px;
}


.slider-img-container {
    position: relative;
    width: 312px;
    justify-self: center;
    background-image: url(img/slider/slider-1-background.png);
    background-position: center;
    background-repeat: no-repeat;  
}

.slider-img {
    height: 507px;
    width: 306px;
      
}

.slider-prev, .slider-next {
    position: absolute;
    display: block;
    top: 48%;
    width: 38px;
    height: 38px;
    background-image: url(img/slider/slider-prev.svg);
    background-color: transparent;
    border: 0;
    border-radius: 50%;


}

.slider-prev {
    left: -6%;
}

.slider-next {
    right: -6%;
    transform: rotate(180deg);
}

.slider-prev:hover {
    background-image: url(img/slider/slider-prev-hover.svg);
    transform: rotate(180deg);
    outline: none;
}

.slider-prev:focus-visible {
    background-image: url(img/slider/slider-prev-focus.svg);
    transform: rotate(180deg);
    outline: none;
}

.slider-next:hover {
    background-image: url(img/slider/slider-prev-hover.svg);
    transform: none;
    outline: none;
}

.slider-next:focus-visible {
    background-image: url(img/slider/slider-prev-focus.svg);
    transform: none;
    outline: none;
}

.slider-next-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.slider-pgn-socials {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;

}

.slider-pgn {
    display: flex;
    align-items: center;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}


.slider-pgn-btn {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 0;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.3);
    cursor: pointer;
}

.slider-pgn-btn:last-child {
    margin-right: 0;
}

.slider-pgn-current {
    background-color: #fcfcfc;
}


.slider-pgn-btn:hover {
    outline: 2px solid #fcfcfc;
}

.slider-pgn-btn:focus-visible {
    outline: 2px solid #2d3440;
}

.socials-list {
    display: flex;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.socials-list li {
    margin-right: 12px;
}

.socials-list li:last-child {
    margin-right: 0px;
}

.socials-item {
    position: relative;
    display: flex;
    border-radius: 50%;
    border: 2px solid #f5cfd9;
}

.socials-item:hover::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: #2d3440;
}

.socials-item:focus-visible {
    border: 2px solid #2d3440;
    outline: none;
}

.socials-item:focus-visible::before {
    position: absolute;
    content: "";
    display: block;
    z-index: -1;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: #2d3440;
}



/* special-offer */

.text-promo {
    margin-bottom: var(--margin-bottom-inn);

    color: var(--font-color-dark);
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.gifts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    color: var(--font-color-dark);
    margin-bottom: var(--margin-bottom-ext);
}


.gift-offer {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

    background-color: #ff7799;
    border-radius: 16px;

}

.gift-slogan {
    width: 320px;
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.gift-dscrpt {
    margin-bottom: 36px;
    width: 320px;
}
.btn-primary {
    padding: 12px 32px;
    background-color: #fcfcfc;
    border-radius: 26px;
    border: solid 4px #f5cfd9;

    color: var(--font-color-dark);
    font-weight: 700;
    line-height: 22px;
}


.btn-primary:hover {
   background-color: rgba(252, 252, 252, 0.4);
   border: 4px solid #fcfcfc;
}

.btn-primary:focus-visible {
    border: 4px solid #2d3440;
    outline: none;
 }

.gift-raspberry {
    display: block;
    background-image: url(img/special-offer/raspearry-gift.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: 370px;
}

.gift-marshmallow {
    display: block;
    background-image: url(img/special-offer/marshmallow-gift.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

/* about */

.about-background {
    margin-bottom: var(--margin-bottom-ext);

    border: 24px solid transparent;
    border-radius: 16px;
    border-image: url(img/about/about-background.png);
    border-image-slice: 30 fill;
}

.about-wrapper {
    padding: 56px 40px;

    background-color: #fcfcfc;
    border-radius: 16px;
    border: 0;
}



.about-wrapper h3 {
    margin-bottom: var(--margin-bottom-inn);

    color: var(--font-color-dark);
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 506px);
    
    column-gap: 30px;
    row-gap: 40px;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;

}

.advantage {
    background-repeat: no-repeat;
    padding-left: 64px;
}

.advantage1{
    background-image: url(img/about/icecream.svg); 
}

.advantage2 {
    background-image: url(img/about/milk.svg);
}

.advantage3 {
    background-image: url(img/about/leaf.svg);
}

.advantage4 {
    background-image: url(img/about/temp.svg);
}


/* popular */

.catalog-prev-wrapper .text-promo {
    margin-bottom: 107px;
}

.popular-cards-wrapper {
   display: grid;
   grid-template-columns: repeat(4, 270px);
   column-gap: 30px;
   row-gap: 80px;
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: var(--margin-bottom-ext);
   padding-inline-start: 0;
   list-style-type: none;
}



.popular-card {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;

    text-align: center;
    border-radius: 8px;
    background-color: #fcfcfc;
}



.popular-card-img {
    margin-top: -51px;
    width: 168px;

}

.card-link:focus-visible {
    text-decoration: underline;
    outline: none;
}

.popular-card h3, .popular-price {

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--font-color-dark);
}

.popular-card h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.popular-descrpt {
    margin-bottom: 16px;
}

.popular-price-btn {
    display: flex;
}

.order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    background-color: #ff2f64;
    border: solid 2px #ff2f64;
    
}


.order-btn:hover {
    background-color: #fcfcfc;
    border: solid 2px #ff2f64;
    outline: none;
}


.order-btn:hover svg path {
    fill: #2d3440;
}

.order-btn:focus-visible {
    border: solid 2px #2d3440;
    outline: none;
}

/* blog-newsletter */

.blog-newsletter-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: var(--margin-bottom-ext);
}

.blog-container {
    padding: 32px;
    border-radius: 16px;
    background-image: url(img/blog-background.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #fcfcfc;

}


.blog-span {
    display: block;
    margin-bottom: 12px;

    color: var(--font-color-light);
    line-height: 20px;
}

.post-title {
    max-width: 300px;
    color: var(--font-color-dark);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

}

.blog:focus-visible {
    outline: none;
}

.blog:focus-visible .post-title {
    text-decoration: underline;
}

.newsletter-background {
    border-radius: 16px;
    border: 6px solid transparent;
    border-image: url(img/newsletter-background.png);
    border-image-slice: 8 fill;
}

.newsletter-container {
    padding: 26px;
    border-radius: 16px;

    background-color: #fcfcfc;
}

.newsletter {
    display: flex;
    margin-top: 42px;
}

.input-main {
    width: 330px;
    padding: 14px 16px;
    box-sizing: border-box;

    border: 1px solid #b9b9b9;
    border-radius: 4px;
    background-color: transparent;
}

.input-main:hover {
    border: 1px solid #2d3440;
    outline: none;
}

.input-main:focus-visible {
    border: 1px solid #2d3440;
    outline: 1px solid #2d3440;

}

.pink-btn {
    margin-left: 20px;
    padding: 12px 32px;
    border-radius: 26px;
    border: solid 4px #f5cfd9;
    background-color: #ff2f64;

    color: #fcfcfc;
    font-weight: 700;

}

.pink-btn:hover {
    background-color: #fcfcfc;
    border: 4px solid #ff2f64;
    color: var(--font-color-dark);
}

.pink-btn:hover .btn-text {
    color: #2d3440;
}

.pink-btn:focus-visible {
    border: 4px solid #2d3440;
    outline: none;
}

/* delivery */

.delivery {
    display: flex;
    margin-bottom: var(--margin-bottom-ext);
    padding-left: 100px;
    padding-top: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
    align-items: center;
    justify-content: space-between;

    background-image: url(img/order-background.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.delivery-dscrpt {
    display: block;
}

.delivery-dscrpt h2 {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: var(--font-color-dark);

    margin-bottom: 24px;
}

.order-form-wrapper {
    width: 500px;
    padding: 40px;
    box-sizing: border-box;

    background-color: #fcfcfc;
    border-radius: 16px;

}

.order-form {
    display: flex;
    flex-wrap: wrap;
}

.date-wrapper, .phone-input-wrapper, .adress-input-wrapper {
    display: flex;
    flex-direction: column;
}

.order-form label {

    color: var(--font-color-dark);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.order-form input {
    margin-top: 8px;
}

.order-dscrpt {
    margin-bottom: 32px;
}


.info-btn {
    margin-left: 5px;
    width: 13px;
    height: 13px;
    border: 0;
    background-image: url(img/info-btn.svg);
    background-color: #fcfcfc;
    background-position: center;

}

.info-btn:focus-visible {
    outline: none;
}

.date-title, .adress-title {
    display: flex;
    align-items: center;
}

.date-wrapper {
    position: relative;
}

.date-input {
    width: 120px;
}

/* .date-info-popup, .adress-info-popup {
    display: none;
}
*/

.date-tooltip {
    display: none;
    position: absolute;
    top: -10px;
    left: 67px;
    width: 170px;
    padding: 10px;
    border: 1px solid #b9b9b9;
    background-color: #fcfcfc;

    color: #565c66;
    font-size: 12px;
    line-height: 16px;
}

.date-tooltip::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -4px;
    width: 7px;
    height: 7px;
    background-color: #fcfcfc;
    border: 1px solid #b9b9b9;
    border-width: 1px 0 0 1px;
    transform: rotate(-45deg);
}

.phone-input-wrapper {
    margin-left: 16px;
}

.phone-input {
    width: 280px;
}

.adress-input-wrapper {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.adress-tooltip {
    display: none;
    position: absolute;
    top: -10px;
    left: 80px;
    width: 170px;
    padding: 10px;
    border: 1px solid #b9b9b9;
    background-color: #fcfcfc;

    color: #565c66;
    font-size: 12px;
    line-height: 16px;
}

.adress-tooltip::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: -4px;
    width: 7px;
    height: 7px;
    background-color: #fcfcfc;
    border: 1px solid #b9b9b9;
    border-width: 1px 0 0 1px;
    transform: rotate(-45deg);
}

.adress-input {
    width: 420px;
}

.order-form .pink-btn {
    margin: 0 auto;
}


/* contacts */

.contancts {
    padding: 64px;

    background-image: url(img/contacts-background.jpg);
    background-repeat: no-repeat;
    border-radius: 16px;
}

.contacts-wrapper {
    padding: 40px;
    width: fit-content;

    background-color: #fcfcfc;
    border-radius: 16px;
}

.contacts-adress-text {
    margin-bottom: 12px;
}

.contacts-adress, .contacts-phone {
    
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: var(--font-color-dark);
}

.contacts-adress {
    margin-bottom: 24px;

}

.contacts-phone {
    display: block;
    margin-bottom: 0;
}

.contacts-phone:focus-visible {
    outline: none;
    color: #ff2f64;
}

.working-hours {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
}

.feedback-link  {
    display: block;
    margin-left: 0;
    margin-top: 20px;

}

.feedback-link span {
    color: #fcfcfc;
}

/* footer */


.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.documents-links-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 24px;
    row-gap: 8px;

    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-dark);

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.documents-links-list a:hover {
    text-decoration: underline;
    outline: none;
}

.documents-links-list a:focus-visible {
    text-decoration: underline;
    outline: none;
}

.providers {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.providers::before {
    content: "";
    display: block;
    margin-left: -20px;
    margin-right: 8px;
    width: 14px;
    height: 13px;
    background-image: url(img/footer/providers.svg);
    background-repeat: no-repeat;
}

.academy-link {
    display: block;
    width: 93px;
    height: 27px;
    margin-bottom: 15px;

    background-image: url(img/footer/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    
}

.academy-rights {
    font-size: 12px;
    line-height: 16px;
    color: var(--font-color-dark);
}

/* catalog */

.basket-popup {
    display: none;
}

.basket-full:hover ~ .basket-popup,
.basket-full:focus-visible ~ .basket-popup {
    display: block;
    position: absolute;
    z-index: 1;
    width: 440px;
    box-sizing: border-box;
    top: 45px;
    right: 1%;
    padding: 48px;
    background-color: #fcfcfc;
    border-radius: 16px;
}

.basket-popup-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    margin-bottom: 32px;
}

.basket-items-list {
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.basket-item:last-child {
    position: relative;
    margin-bottom: 32px;
}

.basket-item:last-child::after {
    content: "";
    position: absolute;
    display: block;
    width: 345px;
    height: 1px;
    bottom: -32px;
    background-color: #b9b9b9;
}


.basket-product {
    display: flex;
    align-items: center;
}

.basket-product-img {
    margin-right: 16px;
}

.basket-item-calc {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #b9b9b9;
}

.basket-item-name, .basket-item-price {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.basket-calc-result {
    margin: 0 auto;
}

.basket-item-delete-button {
    display: block;
    width: 10px;
    height: 10px;
    border: 0;
    background-image: url(img/busket-popup/basket-clear-btn.svg);
    background-repeat: no-repeat;
    background-color: #fcfcfc;
}


.submit-result-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;

    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: var(--font-color-dark);
}

.basket-submit-btn {
    padding: 12px 32px;
    border-radius: 26px;
    border: solid 4px #f5cfd9;
    background-color: #ff2f64;

    color: #fcfcfc;
    font-weight: 700;

}

.basket-submit-btn:hover {
    background-color: #fcfcfc;
    border: 4px solid #ff2f64;
    color: var(--font-color-dark);
}

.basket-submit-btn:focus-visible {
    border: 4px solid #2d3440;
}


.breadcrumbs-list {
    display: flex;

    margin-top: var(--margin-bottom-ext);
    padding-inline-start: 0;
    list-style-type: none;
}

.breadcrums-item {
    position: relative;
    margin-right: 28px;
}

.breadcrums-item:not(:last-child)::after {
    position: absolute;
    content: "";
    display: block;
    right: -18px;
    bottom: 6px;
    width: 7px;
    height: 6px;

    background-image: url(img/catalog/breadcrumbs.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.breadcrumbs-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--font-color-dark);
    text-decoration: underline;
}


.breadcrumbs-link:hover {
    color: #fcfcfc;

}

.breadcrumbs-link:focus-visible {
    color: #fcfcfc;
    outline: none;
}


.catalog-page-title {
    margin-top: 16px;

    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    color: var(--font-color-dark);
}

.catalog-cards-wrapper {
    margin-top: 100px;

    padding-inline-start: 0;
    list-style-type: none;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    margin-top: 40px;

    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-dark);
}

.catalog-filter-group {
    border: 0;
    padding: 0;
    margin: 0;
}

.catalog-filter-title {
    margin-bottom: 8px;
}


.sorting-group {
    position: relative;
    display: flex;
    flex-direction: column;
}


.select-control {
    max-width: 211px;
    text-overflow: ellipsis;
    padding: 11px 30px 11px 11px;
    border: 0;
    border-radius: 20px;

    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-dark);
    background-color: rgba(252, 252, 252, 0.3);

    -webkit-appearance: none;
}

.sorting-title::after {
    content: "";
    display: block;
    position: absolute;
    right: 16px;
    top: 46px;
    width: 12px;
    height: 8px;
    background-image: url(img/catalog/select-btn.svg);
    background-repeat: no-repeat;

}

.select-control:hover {
    background-color: rgba(252, 252, 252, 0.5);
    cursor: pointer;
}

.select-control:focus-visible {
    outline: 2px solid #fcfcfc;
}


.range {
    background-color: rgba(252, 252, 252, 0.3);
    padding: 19px 16px;
    border-radius: 20px;
}

.range-scale {
    position: relative;
    height: 2px;
    width: 164px;

    background-color: rgba(86, 92, 102, 0.3)
}
  
.range-bar {
    position: absolute;
    width: 56px;
    left: 20px;
    height: 2px;
    background-color: #565c66;
}
  
.range-toggle {
    position: absolute;
    top: -8px;
    width: 16px;
    height: 16px;
    background-color: #2d3440;
    border: 0; 
    border-radius: 50%;
    cursor: pointer;
}

.toggle-min::before, .toggle-max::before {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;

    width: 4px;
    height: 4px;
    background-color: #fcfcfc;
    border-radius: 50%;
}

.toggle-max {
    left: 55px;
}

.range-toggle:hover {
    background-color: #fcfcfc;
}

.range-toggle:hover::before {
    content: "";
    display: block;
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #2d3440;
}

.range-toggle:active {
    background-color: #2d3440;
}

.catalog-filter-list {
    display: flex;

    background-color: rgba(252, 252, 252, 0.3);
    padding: 10px 16px;
    border-radius: 20px;

    list-style-type: none;
    margin: 0;
}

.catalog-filter-item {
    margin-right: 16px;
}

.catalog-filter-item:last-child {
    margin-right: 0px;
}

.control {
    position: relative;
    display: block;
}

.control-mark {
    position: absolute;
    
    width: 16px;
    height: 16px;
    border: 2px solid #2d3440;
    border-radius: 4px;
}

.control-label {
    padding-left: 25px;
}


.control-input[type="radio"] + .control-mark {
    border-radius: 50%;

}

.control-input[type="radio"]:hover + .control-mark {
    border-color: #fcfcfc;
}

.control-input[type="radio"]:checked + .control-mark::before {
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--font-color-dark)

}

.control-input[type="radio"]:checked:hover + .control-mark::before {
    background-color: #fcfcfc;
}

.topping-group {
    margin-top: 16px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    content: "";
    position: absolute;
    display: block;
    left: 3px;
    top: 2px;
    width: 10px;
    height: 9px;
    background-image: url(img/catalog/checked.svg);
    background-position: center;
    
}

.control-input[type="checkbox"]:hover + .control-mark {
    border-color: #fcfcfc;
}

.control-input[type="checkbox"]:checked:hover + .control-mark::before {
    background-image: url(img/catalog/checked-hover.svg);
}
  

.filter-submit-btn {
    display: block;
    width: 187px;
    height: 40px;
    margin-top: 44px;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    border: solid 2px #fcfcfc;


    font-weight: 700;
    color: var(--font-color-dark);
}

.filter-submit-btn:hover {
    background-color: #fcfcfc;
    border: solid 2px rgba(252, 252, 252, 0.3);
    outline: none;
}

.filter-submit-btn:focus-visible {
    border: solid 2px #2d3440;
    outline: none;
}


.show-more-pgn-wrapper {
    display: flex;
    align-items: center;
}

.show-more {
    margin: 0 auto;
}

.pgn-wrapper {
    display: flex;
}

.cat-pgn {
    display: flex;
    text-align: center;
    column-gap: 10px;

    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

.pgn-link, .pgn-item {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    

    font-size: 16px;
    line-height: 20px;
    
}

.pgn-link:hover, .pgn-item:hover {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 1px solid #fcfcfc;
}

.pgn-link:focus-visible, .pgn-item:focus-visible {
    background-color: rgba(252, 252, 252, 0.3);
    outline: 1px solid #2d3440;
}

.pgn-prev {
    background-image: url(img/catalog/pgn-btn.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;

}

.pgn-disabled {
    opacity: 0.4;
}

.pgn-current {
    display: block;
    background-color: #fcfcfc;
    
}


.pgn-next {
    background-image: url(img/catalog/pgn-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container-close {
    display: none;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: scroll;
    width: 570px;
    max-height: 545px;
    padding: 36px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    border-radius: 8px;
}

.modal-close {
    display: block;
    border: 0;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    background-image: url(img/modal-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fcfcfc;
}

.feedback-form p {
    padding-left: 32px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: var(--font-color-dark);
}

.user-feedback-form {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.user-feedback-form input {
    width: 100%;
    margin-bottom: 16px;
}

.user-feedback {
    width: 100%;
    height: 150px;
    margin-bottom: 32px;
}

.feedback-form .pink-btn {
    display: block;
    align-self: flex-end;
}
