:root {
    --main-bg-color-first: #feafc3;
    --main-bg-color-second: #69a9ff;
    --main-bg-color-third: #fcc850;

    --font-primary: "Inter", sans-serif;
    --font-size-primary: 16px;
    --font-weight-primary: 400;

    --font-color-dark: #2d3440;
    --font-color-light: #565c66;

    --margin-bottom-ext: 80px;
    --margin-bottom-inn: 56px;

}

ul {
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--font-color-dark);
}

button {
    cursor: pointer;
}

h3, h4, p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

body {
    margin: 0;
    min-width: 1170px;
    min-height: 100vh;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
    color: var(--font-color-light);
    font-size: var(--font-size-primary);
    background-color: var(--main-bg-color-first);
  }

  .content-container {
    width: 1170px;
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto;

  }

  .header-container {
      display: flex;
      padding-top: 24px;
      background-color: var(--main-bg-color-first);
      color: var(--font-color-dark);
      line-height: 20px;
  }

  .popup {
      display: none;
  }

  .header-logo {
      display: block;
  }

  .header-navigation {
      display: flex;
      width: 1030px;
      padding-top: 8px;
      justify-content: space-between;
  }

  .nav-left, .nav-right {
      display: flex;
  }

  .navigation-user-wrapper {
    display: flex;
}

  .header-navigation-list {
      display: flex;
      margin-left: 16px;
      margin-top: 0;
      margin-bottom: 0;
  }


  .catalog-link {
      position: relative;
  }

  .catalog-link:hover ~ .dropdown-catalog {
    display: block;
  }

  .catalog-link:focus-visible ~ .dropdown-catalog {
    display: block;
  }

  .dropdown-catalog {
      display: none;
      position: absolute;
      z-index: 1;
      top: 75px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 4px;
      background-color: #fcfcfc;
      filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
  }

  .drpdwn-catalog-link {
      display: block;
      padding: 8px 16px;

      font-size: 14px;
  }

  .drpdwn-catalog-link:hover {
      background-color: #ffcbd8;
  }

  .drpdwn-catalog-link:focus-visible {
    background-color: #ffcbd8;
    outline: 2px solid #2d3440;
  }

  .drpdwn-catalog-link:active {
      background-color: #ff7799;
  }

  .new-product-link {
      position: relative;
      font-weight: 700;
      padding: 12px 16px;
      
  }

  .new-product-link::after {
      position: absolute;
      content: "";
      display: block;
      bottom: 1px;
      width: 106px;
      height: 1px;
      background-color: #b9b9b9;
  }

  .navigation-link {
      display: block;
      padding: 8px 16px;
      border-radius: 26px;
  }

  .navigation-link:hover, .navigation-user-link:hover {
      background-color: rgba(252, 252, 252, 0.5);
      
  }

  .navigation-link:focus-visible, .navigation-user-link:focus-visible {
    background-color: rgba(252, 252, 252, 0.5);
    outline: 2px solid #2d3440;
}

.navigation-link:active, .navigation-user-link:active {
    background-color: #fcfcfc;
}

.header-phone {
    font-weight: 700;
    padding-top: 8px;
    margin-right: 18px;
}

.navigation-user-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
}

.navigation-user-link {
    position: relative;
    display: flex;
    background-color: rgba(252, 252, 252, 0.3);

    font-size: 14px;
}

.search-link {
    border-radius: 50%;
}

.search-link::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(img/header/search-ic.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.search-popup {
    position: absolute;
    display: none;
    top: 75px;
    right: 22%;
    width: 356px;
    padding: 24px 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fcfcfc;
    filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
}

.header-search-input {
    display: block;
    width: 324px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    font-size: 16px;
    color: #b9b9b9;
}

.header-search-input:not(:placeholder-shown) {
    color: var(--font-color-dark);
}

.header-search-input:hover, .header-search-input:focus-visible, .header-search-input:active {
    outline: none;
}


.login-link, .basket-link {
    padding: 6px 16px;
    border-radius: 26px;
    align-items: center;
}

.login-link {
    margin-left: 16px;
    margin-right: 16px;
}

.login-link::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 9px;
    background-image: url(img/header/login-ic.svg);
    background-repeat: no-repeat;
}

.basket-link::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background-image: url(img/header/basket-ic.svg);
    background-repeat: no-repeat;
}

.basket-full::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background-image: url(img/header/basket-full.svg);
    background-repeat: no-repeat;
}

.slider-item {
    display: grid;
    grid-template-columns: 540px 350px 280px;
    grid-template-rows: 1fr 25px;
    padding-top: 40px;
    margin-bottom: var(--margin-bottom-ext);
    
}

.slider-item-order {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: var(--font-color-dark);
    padding-left: 70px;
}

.slider-item-name {
    margin: 0;
    padding-top: 135px;

    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    
}

.slider-item-dscrpt {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 22px;
}

.slider-order-btn

.slider-img-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 312px;
    justify-self: center;
    background-image: url(img/slider/slider-1-background.png);
    background-position: center;
    background-repeat: no-repeat;  
}

.slider-img {
    height: 507px;
    width: 306px;
    
    
}




.slider-pgn-socials {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;

}

.slider-pgn {
    display: flex;
}

.slider-socials-list {
    display: flex;
}

/* special-offer */

.text-promo {
    margin-bottom: var(--margin-bottom-inn);

    color: var(--font-color-dark);
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.gifts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    color: var(--font-color-dark);
    margin-bottom: var(--margin-bottom-ext);
}


.gift-offer {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

    background-color: #ff7799;
    border-radius: 16px;

}

.gift-slogan {
    margin-bottom: 18px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.gift-dscrpt {
    margin-bottom: 36px;
}
.btn-primary {
    padding: 12px 32px;
    background-color: #fcfcfc;
    border: 0;
    border-radius: 26px;
    outline: 4px solid rgba(252, 252, 252, 0.4);
}

.btn-text {
    color: var(--font-color-dark);
    font-weight: 700;
    line-height: 22px;
}

.gift-raspberry {
    position: relative;
}

.gift-raspberry::before {
    content: "";
    position: absolute;
    display: block;
    width: 181px;
    height: 240px;
    top: 28px;
    right: 15px;
    background-image: url(img/special-offer/raspearry-gift.png);
    background-repeat: no-repeat;
}

.gift-marshmallow {
    position: relative;
}

.gift-marshmallow::before {
    content: "";
    position: absolute;
    display: block;
    width: 232px;
    height: 249px;
    top: 19px;
    right: 7px;
    background-image: url(img/special-offer/marshmallow-gift.png);
    background-repeat: no-repeat;
}

/* about */

.about-background {
    margin-bottom: var(--margin-bottom-ext);
    padding: 24px;
    border-radius: 16px;
    background-image: url(img/about/about-background.png);
    background-repeat: no-repeat;
}

.about-wrapper {
    padding: 56px 40px;

    background-color: #fcfcfc;
    border-radius: 16px;
}

.about-wrapper h3 {
    margin-bottom: var(--margin-bottom-inn);

    color: var(--font-color-dark);
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 506px);
    grid-template-rows: repeat(auto-fill, minmax(66px, 1fr));
    column-gap: 30px;
    row-gap: 40px;

}

.advantage {
    background-repeat: no-repeat;
    padding-left: 64px;
}

.advantage1{
    background-image: url(img/about/icecream.svg); 
}

.advantage2 {
    background-image: url(img/about/milk.svg);
}

.advantage3 {
    background-image: url(img/about/leaf.svg);
}

.advantage4 {
    background-image: url(img/about/temp.svg);
}


/* popular */

.catalog-prev-wrapper .text-promo {
    margin-bottom: 107px;
}

.popular-cards-wrapper {
   display: grid;
   grid-template-columns: repeat(4, 270px);
   column-gap: 30px;
   row-gap: 80px;

   margin-bottom: var(--margin-bottom-ext);
}



.popular-card {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 24px;

    text-align: center;
    border-radius: 8px;
    background-color: #fcfcfc;
}



.popular-card-img {
    margin-top: -51px;
    width: 168px;

}

.popular-card h5, .popular-price {

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: var(--font-color-dark);
}

.popular-card h5 {
    margin-top: 0;
    margin-bottom: 8px;
}

.popular-descrpt {
    margin-bottom: 16px;
}

.popular-price-btn {
    display: flex;
    justify-content: space-between;
}

.order-btn {
    width: 30px;
    height: 30px;
    margin-left: 16px;
    border-radius: 50%;
    background-color: #ff2f64;
    border: solid 2px #ff2f64;
    background-position: center;
}

/* blog-newsletter */

.blog-newsletter-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: var(--margin-bottom-ext);
}

.blog-container {
    padding: 32px;
    border-radius: 16px;
    background-image: url(img/blog-background.jpg);
}

.blog-span {
    display: block;
    margin-bottom: 12px;

    color: var(--font-color-light);
    line-height: 20px;
}

.new-post {
    color: var(--font-color-dark);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

}

.newsletter-background {
    border-radius: 16px;
    padding: 6px;
    background-image: url(img/newsletter-background.png);
}

.newsletter-container {
    padding: 26px;
    border-radius: 16px;

    background-color: #fcfcfc;
}

.newsletter {
    display: flex;
    margin-top: 42px;
}

.input-main {
    width: 330px;
    padding: 14px 16px;

    border: 1px solid #b9b9b9;
    background-color: none;
}

.newsletter-btn {
    margin-left: 20px;

    background-color: #ff2f64;
    border: 4px solid #ffcbd8;
    color: #fcfcfc;
}

  